html, body {
	width: 100%;
	height: 100%;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background: #f0f0f0;
}

a {
	color: #ffffff;
	text-decoration: none;
}

ul li {
	list-style: none;
}
/*以上css可不用，仅作为展示外观样式*/
.logo {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 39px;
	z-index: 12;
}

.logo img {
	width: 15%;
	height: 100%;
	position: relative;
	left: 2%;
	margin: 1px;
}

.logo p {
	color: #e9f2ff;
	position: relative;
	top: -128%;
	height: 45%;
	left: 20%;
}
/*-------------以上是logo-------------*/
.bqtop {
	width: 100%;
	height: 7%;
	background: #1C2B36;
	position: fixed;
	z-index: 10;
	min-width: 1000px;
}

.bqtop h1 {
	color: #e9f2ff;
	font-size: 14px;
	position: absolute;
	right: 2%;
	top:12px;
}

.bqtop h2 {
	color: #e9f2ff;
	font-size: 14px;
	position: absolute;
	right: 6%;
	top: 1%;
}

.bqtop a {
	color: #e9f2ff;
	border: none;
	text-decoration: none;
}

.bqtop a:hover {
	color: #ffffff;
	background: #ffffff;
}