<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bi.baiqiu.mapper.DrillShowMapper">
	<select id="queryByPage" resultType="DrillShowBean">
		select * from bi_drill_show where 1=1

		<if test="date!=null and date!=''">
			and date=#{date}
		</if>
		<if test="startDate!=null and startDate!=''">
			and date &gt;= #{startDate}
		</if>
		<if test="endDate!=null and endDate!=''">
			and date &lt;= #{endDate}
		</if>
		<if test="shopId!=null and shopId!=''">
			and shop_id=#{shopId}
		</if>

		<if test="sortName!=null and sortName!=''">
			order by ${sortName}+0
			<if test="sortOrder!=null and sortOrder!=''">
				${sortOrder}
			</if>
		</if>
	</select>

	<insert id="insertByBatch" parameterType="java.util.List"
		useGeneratedKeys="true">
		replace INTO `bi_drill_show` (
		`date`,
		`Show_amount`,
		`click_quantity`,
		`clickt_rate`,
		`cost`,
		`Cost_presenting_thousand`,
		`Click_unit`,
		`goods_shopping_cart_num`,
		`Click_conversion_rate`,
		`goods_collection`,
		`Store_collection`,
		`Visitor_num`,
		`Depth_penetration_num`,
		`access_time`,
		`access_pages_num`,
		`Order_num`,
		`Order_Transaction_num`,
		`order_Transaction_amount`,
		`investment_return_rate`,
		`order_amount`,
		`shop_id`,
		`create_time`,
		`remark`
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.date},
			#{item.showAmount},
			#{item.clickQuantity},
			#{item.clicktRate},
			#{item.cost},
			#{item.costPresentingThousand},
			#{item.clickUnit},
			#{item.goodsShoppingCartNum},
			#{item.clickConversionRate},
			#{item.goodsCollection},
			#{item.storeCollection},
			#{item.visitorNum},
			#{item.depthPenetrationNum},
			#{item.accessTime},
			#{item.accessPagesNum},
			#{item.orderNum},
			#{item.orderTransactionNum},
			#{item.orderTransactionAmount},
			#{item.investmentReturnRate},
			#{item.orderAmount},
			#{item.shopId},
			now(),
			#{item.remark}
			)
		</foreach>
	</insert>
	<insert id="insertOne" parameterType="DrillShowBean"
		useGeneratedKeys="true">
		replace INTO `bi_drill_show` (
		`date`,
		`Show_amount`,
		`click_quantity`,
		`clickt_rate`,
		`cost`,
		`Cost_presenting_thousand`,
		`Click_unit`,
		`goods_shopping_cart_num`,
		`Click_conversion_rate`,
		`goods_collection`,
		`Store_collection`,
		`Visitor_num`,
		`Depth_penetration_num`,
		`access_time`,
		`access_pages_num`,
		`Order_num`,
		`Order_Transaction_num`,
		`order_Transaction_amount`,
		`investment_return_rate`,
		`order_amount`,
		`shop_id`,
		`create_time`,
		`remark`
		)
		VALUES
			(
			#{date},
			#{showAmount},
			#{clickQuantity},
			#{clicktRate},
			#{cost},
			#{costPresentingThousand},
			#{clickUnit},
			#{goodsShoppingCartNum},
			#{clickConversionRate},
			#{goodsCollection},
			#{storeCollection},
			#{visitorNum},
			#{depthPenetrationNum},
			#{accessTime},
			#{accessPagesNum},
			#{orderNum},
			#{orderTransactionNum},
			#{orderTransactionAmount},
			#{investmentReturnRate},
			#{orderAmount},
			#{shopId},
			now(),
			#{remark}
			)
	</insert>
	<delete id="deleteByBatch" parameterType="int">
		delete from bi_drill_show where id in
		<foreach collection="array" item="idItem" open="(" separator=","
			close=")">
			#{idItem}
		</foreach>
	</delete>
	<delete id="deleteByBatchList" parameterType="DrillShowBean">
		delete from bi_drill_show where
		<choose>
			<when test="!deleteHistory">
				<foreach collection="idArray" item="id" open=""
					separator="or" close="">
				 	id=#{id} and date>= date_sub(now(),interval 2 month)
				</foreach>
			</when>
			<otherwise>
			 		id in
				<foreach collection="idArray" item="id" open="("
					separator="," close=")">
					#{id}
				</foreach>
			</otherwise>
		</choose>
	</delete>
</mapper>