<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bi.baiqiu.mapper.FansDailyMapper">

	<select id="queryByPage" resultType="FansDailyBean">
		select * from bi_fans_daliy where 1=1

		<if test="date!=null and date!=''">
			and date=#{date}
		</if>
		<if test="startDate!=null and startDate!=''">
			and date &gt;= #{startDate}
		</if>
		<if test="endDate!=null and endDate!=''">
			and date &lt;= #{endDate}
		</if>
		<if test="shopId!=null and shopId!=''">
			and shop_id=#{shopId}
		</if>

		<if test="sortName!=null and sortName!=''">
			order by ${sortName}+0
			<if test="sortOrder!=null and sortOrder!=''">
				${sortOrder}
			</if>
		</if>
	</select>
	<!-- 批量删除 -->
	<delete id="deleteByBatch" parameterType="int">
		delete from bi_fans_daliy where id in
		<foreach collection="array" item="idItem" open="(" separator=","
			close=")">
			#{idItem}
		</foreach>
	</delete>
	<!-- 批量删除 -->
	<delete id="deleteByBatchList" parameterType="FansDailyBean">
		delete from bi_fans_daliy where
		<choose>
			<when test="!deleteHistory">
				<foreach collection="idArray" item="id" open=""
					separator="or" close="">
				 	id=#{id} and date>= date_sub(now(),interval 2 month)
				</foreach>
			</when>
			<otherwise>
			 		id in
				<foreach collection="idArray" item="id" open="("
					separator="," close=")">
					#{id}
				</foreach>
			</otherwise>
		</choose>
	</delete>
	<!-- 批量增加 ，存在约束时替换该数据 -->
	<insert id="insertByBatch" parameterType="java.util.List">
		replace INTO `bi_fans_daliy` (
		`date`,
		`fans_total`,
		`new_fans`,
		`new_membership`,
		`active_fans`,
		`fans_turnover`,
		`Cancel_fans`,
		`shop_id`,
		`create_time`,
		`remark`
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.date},
			#{item.fansTotal},
			#{item.newFans},
			#{item.newMembership},
			#{item.activeFans},
			#{item.fansTurnover},
			#{item.cancelFans},
			#{item.shopId},
			now(),
			#{item.remark}
			)
		</foreach>
	</insert>
<!-- 批量增加单条添加 ，存在约束时替换该数据 -->
	<insert id="insertOne" parameterType="FansDailyBean">
		replace INTO `bi_fans_daliy` (
		`date`,
		`fans_total`,
		`new_fans`,
		`new_membership`,
		`active_fans`,
		`fans_turnover`,
		`Cancel_fans`,
		`shop_id`,
		`create_time`,
		`remark`
		)
		VALUES
		(
			#{date},
			#{fansTotal},
			#{newFans},
			#{newMembership},
			#{activeFans},
			#{fansTurnover},
			#{cancelFans},
			#{shopId},
			now(),
			#{remark}
			)
	</insert>
</mapper>